@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$primary: #134bb3 ;
$secondary: #0ddddd;
$light: #FFFFFF;
$dark: #171717;

$titleFont : 'Anton', sans-serif;
$textFont: 'Montserrat', sans-serif;

$font-size-base: 1.25rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;