{% block stylesheets %}
	{{ encore_entry_link_tags('footer') }}
{% endblock %}

<footer class="footer text-light py-3 d-flex justify-content-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="d-flex justify-content-start">
						<i class="bi bi-house fs-5 text-decoration-none text-light"></i>
						 388 rue Françoise Dolto, 45770 SARAN
						 <br>0620147978<p></a>	
				</div>
				<div class="d-flex justify-content-arround">
					<a href="https://www.linkedin.com/in/jaumier-thomas" target="blank" class="text-decoration-none text-light">
					<p>
						<i class="bi bi-linkedin fs-5"></i> JAUMIER Thomas</p></a>
					<a href="https://github.com/TheV2Maker" target="blank" class="text-decoration-none text-light">
					<p>
						<i class="bi bi-github fs-5"></i> GitHub</p></a>
					<p>
				</div>
			</div>
		</div>
	</footer>